* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: rgb(29, 28, 28);
    color: rgb(196, 193, 193);
    font-size: 20px; /* Replace with your preferred font size */
    line-height: 2rem; /* Adjust line height as needed */
    margin: 0; /* Remove default margin to avoid unexpected spacing */
    padding: 0; /* Remove default padding */
}
.back-color {
    background: linear-gradient(
            45deg,
            rgba(239, 210, 18, 0.7),
            rgba(91, 14, 214, 0.7) 100%
    );
}
.back-color-1 {
    background: linear-gradient(
            45deg,
            rgba(239, 210, 18, 0.7),
            rgba(91, 14, 214, 0.7) 100%
    );
    padding: 5px;
    border-radius: 0.25rem;
}
.logo-back-color {
    background: linear-gradient(
            45deg,
            rgba(33, 28, 1, 0.7),
            rgba(31, 2, 78, 0.7) 100%
    );
    padding: 5px;
    border-radius: 0.25rem;
}
.list-group-light {
    --mdb-list-group-light-item-py: 1rem;
    --mdb-list-group-light-item-border: 0px solid var(--mdb-divider-color);
    --mdb-list-group-light-item-border-width: 0px;
    --mdb-list-group-light-active-border-radius: 0.5rem;
    --mdb-list-group-light-active-bg: var(--mdb-primary-bg-subtle);
    --mdb-list-group-light-active-color: var(--mdb-primary-text-emphasis);
}
.anchor a:hover {
    color: aqua;
}
.navbar {
    --mdb-navbar-box-shadow: 0 4px 12px 0 rgba(var(--mdb-box-shadow-color-rgb), 0.07), 0 2px 4px rgba(var(--mdb-box-shadow-color-rgb), 0.05);
    --mdb-navbar-padding-top: 0rem;
    --mdb-navbar-brand-img-margin-right: 0.25rem;
    box-shadow: var(--mdb-navbar-box-shadow);
    padding-top: var(--mdb-navbar-padding-top);
}
.btn-warnings {
    background-color: #e8d00b;
    color: #000;
}
.btn-warnings:hover {
    background-color: #e8d00b;
    color: #000;
}
.btn-warnings:visited {
    background-color: #e8d00b;
    color: #000;
}
.list-group-item-menu {
    position: relative;
    display: block;
    padding: var(--mdb-list-group-item-padding-y) var(--mdb-list-group-item-padding-x);
    color: #141413;
    background-color: #fcf7bc;
    border: var(--mdb-list-group-border-width) solid var(--mdb-list-group-border-color);
}
.list-group-item {
    position: relative;
    display: block;
    padding: var(--mdb-list-group-item-padding-y) var(--mdb-list-group-item-padding-x);
    color: #e8d00b;
    background-color: var(--mdb-list-group-bg);
    border: var(--mdb-list-group-border-width) solid var(--mdb-list-group-border-color);
}
.colors {
    color: #e8d00b;
}
pre {
    border-radius: 10px;
}
pre[class*=language-] {
    background: rgb(255 255 255);
}
.lora-h1 {
  font-family: "Lora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.lora-p {
    font-family: "Lora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
.mt-4 {
    margin-top: 3rem !important;
}
.list-group-light .active {
    border: none;
    border-radius: var(--mdb-list-group-light-active-border-radius);
    background-color: #d9d7b8;
    color: var(--mdb-list-group-light-active-color);
}
.list-group-light .list-group-item-action:hover {
    border-radius: var(--mdb-list-group-light-active-border-radius);
    background-color: darkgray;
}
#list-java, #list-python, #list-javascript, #list-jdbc, #list-javafx, #list-spring, #list-kafka, #list-html, #list-markdown, #list-terms {
    overflow: auto; /* Make the content of this tab scrollable */
    max-height: 700px; /* Set a maximum height for scrolling */
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: transparent transparent; /* For Firefox */

}
.btn-color {
    background-color: #e8d00b;
}
.btn-color:hover {
    background-color: #e8d00b;
    color: #000;
}
.dropdown-menu {
    background: rgb(57, 55, 15);
}
li::marker {
    color: #e8d00b;
}
.card {
    background-color: #222121;
}
.card h5 {
    color: rgb(229, 231, 232);
}

code[class*=language-], pre[class*=language-] {
    color: #e2e1e1;
    background: #212121;
    text-shadow: 0 1px #171616;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
.language-css .token.string, .style .token.string, .token.entity, .token.operator, .token.url {
    color: #9a6e3a;
    background: hsla(0, 5%, 12%, 0.5);
}
.foot {
    background-color: #191919;
}
.bg-darks {
    background-color: #141414;
}